.card:hover img {
  transform: scale(1.2, 1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: 0.8;
}

.card img {
  transform: scale(1, 1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.delete {
  position: absolute;
  left: 0;
  top: 0;
}

.card-img-wrapper {
  overflow: hidden;
  position: relative;
}

.blocked {
  opacity: 50%;
}

.member-icons {
  position: absolute;
  bottom: -30;
  left: 0;
  right: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.card-img-wrapper:hover .member-icons {
  bottom: 0;
  opacity: 1;
}

.animate {
  transition: all 0.4s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .animate {
    transition: none;
  }
  .card-img-wrapper {
    opacity: 1 !important;
    height: 100px;
    margin-bottom: 10px;
    border: 0.2px solid rgba(0, 0, 255, 0.295);
  }
  .card-img-top {
    height: 100%;
    width: 100px;
  }

  .card-body {
    position: absolute;
    top: 3px;
    left: 50%;
  }

  .member-icons {
    bottom: 0;
    opacity: 1;
    left: 40%;
  }
}
