<form id="register-block" [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr />

  <!-- =====
 radiobutton
  ===== -->
  <div class="form-group">
    <label class="control-label">Pohlavie: </label>
    <label class="radio-inline ml-3">
      <input
        class="mr-1 ml-3"
        type="radio"
        value="male"
        formControlName="gender"
      />Muž
    </label>
    <label class="radio-inline ml-5">
      <input
        class="mr-1"
        type="radio"
        value="female"
        formControlName="gender"
      />Žena
    </label>
  </div>

  <!-- =====
  user
  ===== -->
  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('username').errors &&
          registerForm.get('username').touched
      }"
      type="text"
      class="form-control is-invalid"
      formControlName="username"
      placeholder="Meno"
    />
    <div class="invalid-feedback">Vyber si meno</div>
  </div>
  <!-- =====
  password
  ===== -->
  <div class="form-group">
    <input
      type="password"
      [ngClass]="{
        'is-invalid':
          registerForm.get('password').errors &&
          registerForm.get('password').touched
      }"
      class="form-control is-invalid"
      formControlName="password"
      placeholder="Heslo"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('password').hasError('required') &&
        registerForm.get('password').touched
      "
    >
      Heslo musí byť vyplnené
    </div>
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('password').hasError('minlength') &&
        registerForm.get('password').touched
      "
    >
      Heslo musí mať aspoň 4 písmená
    </div>
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('password').hasError('maxlength') &&
        registerForm.get('password').touched
      "
    >
      Heslo nesmie presiahnuť 8 písmen
    </div>
  </div>

  <!-- =====
confirm password
===== -->
  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          (registerForm.get('confirmPassword').errors &&
            registerForm.get('confirmPassword').touched) ||
          (registerForm.get('confirmPassword').touched &&
            registerForm.hasError('mismatch'))
      }"
      type="password"
      class="form-control is-invalid"
      formControlName="confirmPassword"
      placeholder="Zopakuj heslo"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('confirmPassword').hasError('required') &&
        registerForm.get('confirmPassword').touched
      "
    >
      Password is required
    </div>
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.hasError('mismatch') &&
        registerForm.get('confirmPassword').touched
      "
    >
      Heslo musí byť rovnaké
    </div>
  </div>

  <!-- =====
known as
===== -->

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('knownAs').errors &&
          registerForm.get('knownAs').touched
      }"
      class="form-control"
      placeholder="Prezývka"
      formControlName="knownAs"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('knownAs').touched &&
        registerForm.get('knownAs').hasError('required')
      "
    >
      Prezývka je povinná
    </div>
  </div>

  <!-- =====
date of birth
===== -->

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('dateOfBirth').errors &&
          registerForm.get('dateOfBirth').touched
      }"
      class="form-control"
      placeholder="Dátum narodenia"
      formControlName="dateOfBirth"
      type="text"
      bsDatepicker
      [bsConfig]="bsConfig"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('dateOfBirth').touched &&
        registerForm.get('dateOfBirth').hasError('required')
      "
    >
      Dátum narodenia je povinný
    </div>
  </div>

  <!-- =====
city and country
===== -->

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('city').errors && registerForm.get('city').touched
      }"
      class="form-control"
      placeholder="Mesto"
      formControlName="city"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('city').touched &&
        registerForm.get('city').hasError('required')
      "
    >
      Mesto je povinné
    </div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('country').errors &&
          registerForm.get('country').touched
      }"
      class="form-control"
      placeholder="Krajina"
      formControlName="country"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('country').touched &&
        registerForm.get('country').hasError('required')
      "
    >
      Krajina je povinná
    </div>
  </div>

  <div class="form-group text-center">
    <button
      class="btn btn-success"
      type="submit"
      [disabled]="!registerForm.valid"
    >
      Potvrdiť registráciu
    </button>
    <button class="btn btn-danger ml-1" type="button" (click)="cancel()">
      Zrušiť
    </button>
  </div>
</form>
