<button
  *ngIf="blocked !== '0'"
  id="add-blog-btn"
  class="btn btn-success"
  (click)="showUp()"
>
  Pridaj príbeh
</button>

<form id="add-blog-block" [formGroup]="blogAddForm" (ngSubmit)="blogAdd()">
  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          blogAddForm.get('description').errors &&
          blogAddForm.get('description').touched
      }"
      type="text"
      class="form-control is-invalid"
      formControlName="description"
      placeholder="your story"
    />
    <input type="file" ng2FileSelect [uploader]="uploader" />
    <div class="invalid-feedback">Zdieľaj príbeh</div>
  </div>

  <div>
    <div *ngIf="uploader.progress > 0" class="progress mb-4">
      <div
        class="progress-bar"
        role="progressbar"
        [ngStyle]="{ width: uploader.progress + '%' }"
      ></div>
    </div>
  </div>

  <div class="form-group text-center">
    <button
      class="btn btn-success"
      type="submit"
      [disabled]="!blogAddForm.valid"
      (click)="uploader.uploadAll()"
      [disabled]="!uploader.getNotUploadedItems().length"
    >
      Potvrď
    </button>
    <button
      class="btn btn-danger ml-1"
      type="button"
      (click)="cancel()"
      (click)="uploader.cancelAll()"
    >
      Zruš
    </button>
  </div>
</form>
