<button
  *ngIf="blocked !== '0'"
  id="add-blog-btn"
  class="btn btn-success"
  (click)="showUp()"
>
  <i class="fa fa-pencil" aria-hidden="true"></i>
</button>

<form id="add-blog-block" [formGroup]="blogAddForm" (ngSubmit)="blogAdd()">
  <div class="form-group">
    <textarea
      rows="10"
      maxlength="500"
      [ngClass]="{
        'is-invalid':
          blogAddForm.get('description').errors &&
          blogAddForm.get('description').touched
      }"
      type="text"
      class="form-control is-invalid"
      formControlName="description"
      placeholder="pridaj pribeh"
    >
    </textarea>
    <div id="choose-area" class="mb-3">
      <label for="formFile" class="form-label-file mt-2">Vyber fotku</label>
      <input
        class="form-control"
        type="file"
        id="formFile"
        style="display: none"
        ng2FileSelect
        [uploader]="uploader"
      />
    </div>
  </div>

  <div>
    <div class="progress mb-4">
      <div
        class="progress-bar"
        role="progressbar"
        [ngStyle]="{ width: uploader.progress + '%' }"
      ></div>
    </div>
  </div>

  <div class="form-group text-center">
    <button
      class="btn btn-success"
      type="submit"
      [disabled]="!blogAddForm.valid"
      (click)="uploader.uploadAll()"
      [disabled]="!uploader.getNotUploadedItems().length"
    >
      Potvrď
    </button>
    <button
      class="btn btn-danger ml-1"
      type="button"
      (click)="cancel()"
      (click)="uploader.cancelAll()"
    >
      Zruš
    </button>
  </div>
</form>
