<div class="container">
  <div class="row d-flex justify-content-around">
    <div class="col-sm8">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <p class="font-weight-bold text-uppercase">
          Info: Urobil si zmeny ale keď nepotvrdíš tak sa zmažu.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          src="{{ photoUrl || '../../assets/user.png' }}"
          alt="{{ user.knownAs }}"
        />
        <div class="card-body">
          <div>
            <strong>Adresa:</strong>
            <p>{{ user.city }}, {{ user?.country }}</p>
          </div>
          <div>
            <strong>Vek:</strong>
            <p>{{ user.age }}</p>
          </div>
          <div>
            <strong>Aktívny naposledy:</strong>
            <p>{{ user.lastActive | timeago }}</p>
          </div>
          <div>
            <strong>Členom od:</strong>
            <p>{{ user.created | date }}</p>
          </div>
          <div class="card-footer">
            <button
              form="editForm"
              [disabled]="!editForm.dirty"
              class="btn btn-success btn-block w-100"
            >
              Ulož
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset"
          ><tab class="edit-photos" heading="Upraviť fotky">
            <app-photo-editor
              [photos]="user.photos"
              (getMemberPhotoChange)="updateMainPhoto($event)"
            ></app-photo-editor>
          </tab>
          <tab heading="Upraviť profil">
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
              <h4>Popis</h4>
              <textarea
                class="form-control"
                name="introduction"
                rows="6"
                [(ngModel)]="user.introduction"
              ></textarea>
              <h4>Poznámky</h4>
              <textarea
                class="form-control"
                name="notes"
                rows="6"
                [(ngModel)]="user.notes"
              ></textarea>
              <h4>Záujmy</h4>
              <textarea
                class="form-control"
                name="interests"
                rows="6"
                [(ngModel)]="user.interests"
              ></textarea>
              <h4>Adresa:</h4>
              <div class="form-inline">
                <label for="city">Mesto</label>
                <input
                  type="text"
                  class="form-control"
                  name="city"
                  [(ngModel)]="user.city"
                />
                <label for="country">Krajina</label>
                <input
                  type="text"
                  class="form-control"
                  name="country"
                  [(ngModel)]="user.country"
                />
              </div>
            </form>
          </tab>
          <tab heading="Zmena hesla">
            <form
              id="register-block"
              [formGroup]="changeForm"
              (ngSubmit)="changePassword()"
            >
              <!-- =====old password===== -->
              <div class="form-group">
                <input
                  [ngClass]="{
                    'input-ok': veryfication
                  }"
                  type="password"
                  class="form-control is-invalid"
                  formControlName="oldPassword"
                  placeholder="Stare heslo"
                  [ngClass]="{
                    'is-invalid':
                      changeForm.get('oldPassword').errors &&
                      changeForm.get('oldPassword').touched
                  }"
                  (keyup)="oldPasswordCheck()"
                />

                <div
                  class="invalid-feedback"
                  *ngIf="
                    changeForm.get('oldPassword').hasError('required') &&
                    changeForm.get('oldPassword').touched
                  "
                >
                  Stare heslo musí byť vyplnené!
                </div>

                <div
                  [ngClass]="{
                    'veryfication-false': !veryfication,
                    'veryfication-ok': veryfication
                  }"
                >
                  Stare heslo nie je spravne!
                </div>
              </div>

              <!-- =====password===== -->
              <div class="form-group">
                <input
                  type="password"
                  [ngClass]="{
                    'is-invalid':
                      changeForm.get('password').errors &&
                      changeForm.get('password').touched
                  }"
                  class="form-control is-invalid"
                  formControlName="password"
                  placeholder="Nove heslo"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    changeForm.get('password').hasError('required') &&
                    changeForm.get('password').touched
                  "
                >
                  Heslo musí byť vyplnené
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="
                    changeForm.get('password').hasError('minlength') &&
                    changeForm.get('password').touched
                  "
                >
                  Heslo musí mať aspoň 12 písmen
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="
                    changeForm.get('password').hasError('maxlength') &&
                    changeForm.get('password').touched
                  "
                >
                  Heslo nesmie presiahnuť 30 písmen
                </div>
              </div>

              <!-- =====confirm password===== -->
              <div class="form-group">
                <input
                  [ngClass]="{
                    'is-invalid':
                      (changeForm.get('confirmPassword').errors &&
                        changeForm.get('confirmPassword').touched) ||
                      (changeForm.get('confirmPassword').touched &&
                        changeForm.hasError('mismatch'))
                  }"
                  type="password"
                  class="form-control is-invalid"
                  formControlName="confirmPassword"
                  placeholder="Zopakuj heslo"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    changeForm.get('confirmPassword').hasError('required') &&
                    changeForm.get('confirmPassword').touched
                  "
                >
                  Heslo musi byt zopakovane!
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="
                    changeForm.hasError('mismatch') &&
                    changeForm.get('confirmPassword').touched
                  "
                >
                  Heslo musí byť rovnaké
                </div>
              </div>

              <div class="form-group text-center">
                <button
                  class="btn btn-success"
                  type="submit"
                  [disabled]="!changeForm.valid || !veryfication"
                >
                  Zmenit heslo
                </button>
                <button
                  class="btn btn-danger ml-1"
                  type="button"
                  (click)="cancel()"
                >
                  Zrušiť
                </button>
              </div>
            </form>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
