.img-thumbnail {
  margin: 25px;
  width: 85%;
  height: 85%;
}

.card-body {
  padding: 10px 25px;
}

.card-footer {
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;
}

.edit-photos {
  height: 70vh;
  overflow: auto;
}

.container {
  margin-bottom: 50px !important;
  margin-top: 110px;
}

.veryfication-ok {
  display: none;
}

.veryfication-false {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #d9831f;
}

.input-ok {
  color: rgba(44, 167, 44, 0.541);
}

@media only screen and (max-width: 600px) {
  .card-img-top {
    display: none;
  }
}
