.wrapper {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 90px auto 30px;
  height: 90vh;
  overflow: auto;
}

.hidden {
  display: none;
}
.user-name {
  margin: 10px;
  font-weight: bold;
}

.userMainPhoto {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 5px;
}

app-blog-add {
  width: 100%;
  position: absolute;
  top: 90px;
  left: 0;
  z-index: 2;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    width: 90%;
    margin: 140px auto;
  }

  app-blog-add {
    top: 140px;
  }

  .card,
  .card-body {
    width: 100% !important;
  }
}
