.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

img {
  max-height: 50px;
  border: 2px solid white;
  display: inline;
}

.add-blog {
  position: absolute;
  top: 67px;
  left: 0;
  z-index: 300;
}
