.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

img {
  max-height: 50px;
  border: 2px solid white;
  display: inline;
}

.navbar-brand {
  margin-right: 20px;
}

.logo {
  height: 70px;
  border: 0;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.fa {
  font-size: 20px;
  margin-left: 30px;
}

.phone-navbar {
  display: none;
}

.active .fa {
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(223, 218, 218, 0.692);
}

@media only screen and (max-width: 600px) {
  .login-form {
    width: 100%;
  }
  .logo {
    height: 30px;
  }
  .wrapper {
    flex-wrap: wrap;
    width: 100%;
  }

  ul {
    display: none;
  }

  .phone-navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
  }

  .phone-link,
  .phone-item,
  .fa {
    margin: 0 !important;
  }

  .fa {
    color: black;
  }
  .active .fa {
    color: rgb(5, 5, 5);
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(243, 12, 12, 0.692);
  }
  .a-logo {
    display: block;
    margin-right: 30px;
  }
}
