.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

img {
  max-height: 50px;
  border: 2px solid white;
  display: inline;
}

.register-block {
  position: absolute;
  top: 100px;
  right: 20px;
}
