.wrapper {
  padding-top: 90px;
  width: 90%;
  display: block;
  margin: 30px auto;
  overflow: auto;
}

.blog-card {
  display: flex;
  width: 70%;
  margin: 50px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.123);
  border-radius: 10px;
}

.blog-img {
  width: 40%;
  height: auto;
  max-width: 400px;
  border-radius: 10px 0 0 10px;
}

.blog-body {
  display: block;
  width: 50%;
  margin: 10px 30px;
}

.title {
  color: rgba(16, 80, 133, 0.678);
  font-weight: 800;
  text-align: center;
  padding: 20px;
}

.user-name {
  margin: 10px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .blog-card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    box-shadow: none;
    border-radius: none;
  }

  .blog-body {
    width: 100%;
    margin: 0;
    padding: 10px;
  }

  .blog-img {
    width: 100%;
    height: auto;
    border-radius: 0 0 0 0;
  }
}
