<!-- <div class="container mt-5 mr-1">
  <div *ngIf="!registerMode" style="text-align: center">
    <h3>Register yourself</h3>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register</button>
    </div>
  </div>
</div>


  <div *ngIf="registerMode" class="container-register">
    <div class="row justify-content-center">
      <div class="col-4 pr-0">
      <app-register (cancelRegister)="cancelRegisterMode($event)" ></app-register> 
      </div>
    </div>
  </div> -->



<!-- <div class="container">
    <ngx-gallery
      [options]="galleryOptions"
      [images]="galleryImages"
      class="ngx-gallery"
    ></ngx-gallery>
</div> -->

<p *ngFor="let i of galleryImages"> {{i.url}}</p>
