<div class="card">
  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">
      <div class="input-group">
        <input
          type="text"
          [(ngModel)]="newMessage.content"
          name="content"
          required
          class="form-control input-sm"
          placeholder="pošli súkromnú správu"
        />
        <div class="input-group-append">
          <button class="btn btn-success" [disabled]="!messageForm.valid">
            Odošli
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="card-body">
    <div *ngIf="messages?.length === 0">
      <p>žiadne správy... napíš niečo</p>
    </div>

    <ul id="message-wrapper" class="chat">
      <li *ngFor="let message of messages">
        <!-- to me -->

        <div *ngIf="message.senderId == recipientId">
          <div class="chat-body received">
            <div class="header">
              <strong class="primary-font mr-2 ml-1">
                {{ message.senderKnownAs }}
              </strong>
              <small>
                <span class="mr-2 ml-1">{{
                  message.messageSent | timeago
                }}</span>
              </small>
            </div>
            <p class="received-message">{{ message.content }}</p>
          </div>
        </div>

        <!-- to them -->

        <div *ngIf="message.senderId != recipientId">
          <div class="chat-body">
            <div class="sent" style="width: 40%">
              <div class="header">
                <small>
                  <span class="mr-2 ml-1">{{
                    message.messageSent | timeago
                  }}</span>
                  <span
                    *ngIf="!message.isRead"
                    class="text-danger fa fa-clock-o mr-2 ml-1"
                  ></span>
                  <span
                    *ngIf="message.isRead"
                    class="text-success fa fa-check mr-2 ml-1"
                  ></span>
                </small>
              </div>
              <p class="sent-message">{{ message.content }}</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
