<div id="wrapper">
  <div id="cells-container">
    <div *ngFor="let user of users; let i = index">
      <div
        id="{{ i }}"
        title="{{ user.id }}"
        class="user-cell d-flex flex-row justify-content-start align-items-center"
        *ngIf="ids.includes(user.id) && user.id !== userId"
        (click)="switchClass(i)"
        (click)="changeView()"
      >
        <img src="{{ user.photoUrl }}" alt="{{ user.knownAs }}" />
        <p>{{ user.knownAs }}</p>
      </div>
    </div>
  </div>

  <!-- message body part -->

  <div id="message-body">
    <button
      id="btn-back"
      class="btn btn-outline-secondary"
      (click)="backToUsers()"
    >
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </button>
    <div id="card" *ngIf="chatUserId !== -1">
      <div class="card-footer">
        <form
          #messageForm="ngForm"
          (ngSubmit)="messageForm.valid && sendMessage()"
        >
          <div class="input-group">
            <input
              type="text"
              [(ngModel)]="newMessage.content"
              name="content"
              required
              class="form-control input-sm"
              placeholder="pošli súkromnú správu"
            />
            <div class="input-group-append">
              <button class="btn btn-success" [disabled]="!messageForm.valid">
                Odošli
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="card-body">
        <div *ngIf="messages?.length === 0">
          <p>žiadne správy... napíš niečo</p>
        </div>

        <ul id="message-wrapper" class="chat">
          <li *ngFor="let message of chatMessages">
            <!-- to me -->

            <div *ngIf="message.senderId == chatUserId">
              <div class="chat-body received">
                <div class="header">
                  <strong class="primary-font mr-2 ml-1">
                    {{ message.senderKnownAs }}
                  </strong>
                  <small>
                    <span class="mr-2 ml-1">{{
                      message.messageSent | timeago
                    }}</span>
                  </small>
                </div>
                <p class="received-message">{{ message.content }}</p>
              </div>
            </div>

            <!-- to them -->

            <div *ngIf="message.senderId == userId">
              <div class="chat-body">
                <div class="sent" style="width: 40%">
                  <div class="header">
                    <small>
                      <span class="mr-2 ml-1">{{
                        message.messageSent | timeago
                      }}</span>
                      <span
                        *ngIf="!message.isRead"
                        class="text-danger fa fa-clock-o mr-2 ml-1"
                      ></span>
                      <span
                        *ngIf="message.isRead"
                        class="text-success fa fa-check mr-2 ml-1"
                      ></span>
                    </small>
                  </div>
                  <p class="sent-message">{{ message.content }}</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
