<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          src="{{ user.photoUrl || '../../assets/user.png' }}"
          alt="{{ user.knownAs }}"
        />
        <div class="card-body">
          <div class="name">
            <strong>{{ user.knownAs }}</strong>
          </div>
          <div>
            <strong>Adresa:</strong>
            <p>{{ user.city }}, {{ user?.country }}</p>
          </div>
          <div>
            <strong>Vek:</strong>
            <p>{{ user.age }}</p>
          </div>
          <div>
            <strong>Aktívny:</strong>
            <p>{{ user.lastActive | timeago }}</p>
          </div>
          <div>
            <strong>Registrovaný:</strong>
            <p>{{ user.created | date: "mediumDate" }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset" #memberTabs>
          <tab heading="Info {{ user?.knownAs }}">
            <h4>Popis</h4>
            <p>{{ user.introduction }}</p>
            <h4>Poznámky</h4>
            <p>{{ user.notes }}</p>
          </tab>
          <tab heading="Záujmy">
            <h4>Záujmy</h4>
            <p>{{ user.interests }}</p>
          </tab>
          <tab heading="Fotky">
            <ngx-gallery
              [options]="galleryOptions"
              [images]="galleryImages"
              class="ngx-gallery"
            ></ngx-gallery>
          </tab>
          <tab heading="Správy">
            <app-member-messages [recipientId]="user.id"> </app-member-messages>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
